.post-type-archive{
    text-align: center;
    a{
        margin: 0 auto;
        text-decoration: none;
        h2{
            text-decoration: none;
            color: $color__6;
        }
    }

    .list-work-item{
        margin-bottom: 1.2rem;
        border-bottom: 1px solid black;
        padding-bottom: 1rem;

        p{
            text-align: left;
        }

        .list-project{
            background-color: #9EEFF5;
            color: $color__5;
            text-decoration: none;
            border-radius: 25px;
            width: 8rem;
            padding: .75rem;
            text-align: center;
            margin: 0 auto;
            display: block;
            transition: .5s;
            &:hover{
                transition: .5s;
                box-shadow: 0px 0px 10px 3px $color__main;
            }
        }
        .para-wrapper{
            margin-bottom: .7rem;
            text-align: left;
            display: flex;
            align-items: center;

            .list-work-item-para{
                display: inline;
                padding-bottom: 5rem;
            }
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                li{
                    margin: 0 .17rem;
                    @media(min-width: 350px){
                        margin: 0 .5rem;
                    }
                    @media(min-width:$breakpoint-tablet){
                        margin: 0 .75rem;
                    }
                    svg{
                        width: 3rem;
                        fill: currentColor;
                    }
                }
            }
        }
    }

    .archive-work{
        article{
            @media(min-width:$breakpoint-mobile){
                margin: 0 .5rem;
            }
            @media(min-width:$breakpoint-tablet){
                margin: 0 .25rem;
            }
        }
        @media(min-width:825px){
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @media(min-width:$breakpoint-desktop-wide){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .list-work-item{
            @media(min-width: $breakpoint-tablet){
                border-bottom: none;
                margin: 0 1rem;
            }
            @media(min-width:$breakpoint-desktop){
                margin: 0 2rem;
            }
        }
    }
}