$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #FFFFFF;
$color__link-visited: #FFFFFF; 
$color__link-hover: #5CE1E6;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Colour theme
$color__1 : #16151C;
$color__2 : #1A1D14;
$color__3: #1C1217;
$color__4: #693E51;
$color__5: #353442;
$color__6: #3D3D3D;
$color__highlight : #5CE1E6;
$color__main : #6300FF;
$color__dark : #1A1A1A;